In [2]:
import pandas as pd

# What factors were the most useful in predicting wage?

In [10]:
# Classifying the wage variable, if wage is above the median value is 1, otherwise 0
# Read the file into a dataframe
df = pd.read_csv('wage_data.txt', sep=r'\s+')

# Calculate the median wage
median_wage = df['wage'].median()

# Classify the wage variable
df['wage_class'] = df['wage'].apply(lambda x: 1 if x > median_wage else 0)
df.head()

,education,south,sex,experience,union,wage,age,race,occupation,sector,marr,wage_class
0,8,0,1,21,0,5.10,35,2,6,1,1,0
1,9,0,1,42,0,4.95,57,3,6,1,1,0
2,12,0,0,1,0,6.67,19,3,6,1,0,0
3,12,0,0,4,0,4.00,22,3,6,0,0,0
4,12,0,0,17,0,7.50,35,3,6,0,1,0